<h1>Meghan and Dan</h1>

<div class="row margin-top-20">
	<div class="col-md-3">
		<div class="row">
			<div class="col-md-9 col-md-offset-3">
				<%= link_to('Home', root_path, :class => 'btn btn-transparent btn-lg width-200') %>
			</div>
			<div class="col-md-9 col-md-offset-3 margin-top-20">
				<%= link_to('Map', map_path, :class => 'btn btn-transparent btn-lg width-200') %>
			</div>
			<div class="col-md-9 col-md-offset-3  margin-top-20">
				<%= link_to('Wedding Party', weddingparty_path, :class => 'btn btn-transparent btn-lg width-200') %>
			</div>
		</div>
	</div>
	<div class="col-md-6">
		<div class="row">
			<%= image_tag("1.JPG", :class => "img-rounded") %>
		</div>
		<div class="row margin-top-20">
			<%= image_tag("2.JPG", :class => "img-rounded") %>
		</div>
		<div class="row margin-top-20">
			<%= image_tag("3.png", :class => "img-rounded") %>
		</div>	
		<div class="row margin-top-20">
			<%= image_tag("4.png", :class => "img-rounded") %>
		</div>
	</div>
</div>