<%= image_tag("border.png", :class => "", :style => "width:33%") %><%= image_tag("border_flipped.png", :class => "", :style => "width:33%") %><%= image_tag("border.png", :class => "", :style => "width:34%") %>

<p class="londrina-outline"  style="margin-bottom:0px;">Meghan <span class="neucha">and</span> Daniel</p>

<p class="neucha margin-top-20 font-size-36">June 28th, 2014</p>
<p class="neucha margin-top-10 font-size-36"><%= @days_to_go %> days to go</p>

<div class="row" style="display:none;">
	<div class="col-md-4 col-md-offset-4">
		<p class="neucha pull-left" style="margin-left:50px">Evans</p>
		<p class="neucha pull-right" style="margin-right:20px">Silberman</p>
	</div>
</div>

<p class="amatic-sc" style="margin-bottom:0">Rockyneck State Park</p>
<p class="amatic-sc">Niantic, CT</p>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<%= link_to('Venue', map_path, :class => 'btn btn-transparent btn-lg width-200') %>
		<%= link_to('Gallery', gallery_path, :class => 'btn btn-transparent btn-lg width-200') %>
		<%= link_to('Wedding Party', weddingparty_path, :class => 'btn btn-transparent btn-lg width-200') %>
	</div>
</div>
