<div style="display:none;"><%= image_tag("border.png", :class => "", :style => "width:33%") %><%= image_tag("border_flipped.png", :class => "", :style => "width:33%") %><%= image_tag("border.png", :class => "", :style => "width:34%") %></div>

<div class="row margin-top-20" style="display:none">
	<div class="col-md-8 col-md-offset-2 center">
		<div class="link-block">
			<a class="" href="<%= map_path %>">
				<%= image_tag("banner_white.png", :class => "") %>
				<div class="text-overlay">Venue</div>
			</a>
		</div>
		<div class="link-block" style="margin-left: 10px;">
			<a class="" href="<%= gallery_path %>">
				<%= image_tag("banner_white.png", :class => "") %>
				<div class="text-overlay">Gallery</div>
			</a>
		</div>
		<div class="link-block" style="margin-left: 10px;">
			<a class="" href="<%= weddingparty_path %>">
				<%= image_tag("banner_white.png", :class => "") %>
				<div class="text-overlay">Wedding Party</div>
			</a>
		</div>
	</div>
</div>

<div class="row margin-top-20" style="display:none">
<p class="neucha"  style="margin-bottom:0px;">Meghan <span class="neucha">and</span> Daniel</p>
</div>

<div style="display:none">
<p class="neucha margin-top-20 font-size-36">June 28th, 2014</p>
<p class="uppercase margin-top-10 font-size-24" style="color:#fff44f"><%= @days_to_go %> days to go</p>
</div>

<div class="row" style="display:none;">
	<div class="col-md-4 col-md-offset-4">
		<p class="neucha pull-left" style="margin-left:50px">Evans</p>
		<p class="neucha pull-right" style="margin-right:20px">Silberman</p>
	</div>
</div>

<p class="amatic-sc" style="display:none;">Rockyneck State Park, Niantic, CT</p>