<div class="info-box-links">
	<a class="" href="<%= root_path %>">Home</a> |
	<a class="" href="<%= venue_path %>">Venue</a> |
	<a class="here" href="#">Wedding Party</a> |
	<a class="" target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=221890547&pwsurl=">Registry</a>
</div>

<div class="info-box-overlay">
	<div class="info-box-overlay-inner">
		<div class="margin-top-80">
			<div class="poiret uppercase" style="font-size:42px;">Bridesmaids</div>
			<div style="display:inline-block">
				<%= image_tag('kelly.jpg', :class => 'pull-left') %> 
				<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Kelly<br>Evans</div>
			</div>
			<div class="margin-top-20" style="display:inline-block">
				<%= image_tag('breanne.jpg', :class => 'pull-left') %> 
				<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Breanne<br>Evans</div>
			</div>
			<div class="margin-top-20" style="display:inline-block">
				<%= image_tag('becky.jpg', :class => 'pull-left') %> 
				<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Becky<br>Baek</div>
			</div>
			<div class="poiret uppercase margin-top-40" style="font-size:42px;">Groomsmen</div>
			
			<div class="dilyan" style="display:inline-block">
				<div style="display:inline-block">
					<%= image_tag('dilyan.jpg', :class => 'pull-left') %>
					<div class="pull-right uppercase" style="margin-left:20px; font-size:24px">Dilyan<br>Kovachev</div>
				</div>
			</div>
			
			<div class="ryan margin-top-20" style="display:inline-block">
				<div style="display:inline-block">
					<%= image_tag('ryan.JPG', :class => 'pull-left') %>
					<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Ryan<br>Barber</div>
				</div>
			</div>
		</div>
	</div>
</div>
