<div class="info-box-links">
	<a class="" href="<%= root_path %>">Home</a> |
	<a class="" href="<%= venue_path %>">Venue</a> |
	<a class="here" href="#">Wedding Party</a> |
	<a class="" target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=221890547&pwsurl=">Registry</a>
</div>

<div class="row" style="margin-top:120px">
	<div class="col-md-12 ">
		<div class="info-box-overlay-center-large">
			<div class="row">
				<div class="lead col-md-12" style="margin-bottom:10px;">Bridesmaids</div>
			</div>
			
			<div class="row" style="margin-top:20">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<%= image_tag('kelly.jpg', :class => 'pull-left') %>
							<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Kelly<br>Evans</div>
						</div>
						<div class="col-md-12 helvetica-neue" style="margin-top:10px;">
							Kelly is one of the few human beings who may or may not contain food molecules. She has degrees in Japanese and Russian language and is currently earning her masters in Linguistics. Without the need of a degree Kelly is a master Lego builder and the artist who brought you The Wedding Invitation. The (other) Bulgarian proverb, “Where you’re going to, I’m coming from,” describes her perfectly, not only because she’s so intelligent, but because she walks SO fast.<br>We’re in awe.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<%= image_tag('breanne.jpg', :class => 'pull-left') %>
							<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Breanne<br>Evans</div>
						</div>
						<div class="col-md-12 helvetica-neue" style="margin-top:10px;">
							Breanne is tall and lives in New York City. She is currently fulfilling her lifelong dream of having her own minion to do her bidding. She loves tiny objects like small cups and mini owls, and will eat potatoes prepared any way. Most legends about witty beauties are in reference to Breanne, specifically Shakespeare’s 14th sonnet and Sappho’s ‘A Goddess of the Earth.’  She taught us one of the most important lessons of our lives, “Don’t make someone else’s yum yums yuck yucks.”<br>
		She’s so so wise. 
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<%= image_tag('becky.jpg', :class => 'pull-left') %>
							<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Becky<br>Baek</div>
						</div>
						<div class="col-md-12 helvetica-neue" style="margin-top:10px;">
						“Seldom have I seen a butterfly do evil. Such was my first thought the moment I met Becky Baek, for she was doing incredible evil. And yet she was a butterfly.” 
		Becky and Meghan met in San Francisco in 2003 under dubious circumstances and bonded over In-N-Out Burger Fries. Becky is currently about to crush the New York State Bar exam. She already holds exalted degrees in American Studies and Theology, granting her an immense capacity to control humanity. She is the Queen Mother to one Shitzu, named Duncan, and soon, she’ll be Queen to us all.<br>
		We’re excited.
						</div>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="lead col-md-12" style="margin-bottom:10px;">Groomsmen</div>
			</div>
			<div class="row" style="margin-top:20">
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<%= image_tag('ben.jpg', :class => 'pull-left') %>
							<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Ben<br>Silberman</div>
						</div>
						<div class="col-md-12 helvetica-neue" style="margin-top:10px;">
							Ben’s first job was as personal attendant to Chichi, the famous singing dog he later befriended. The two now share a bed. Ben enjoys loud television programs late at night and hates grocery shopping. At age thirty-three he became a member of the club “Gay for Stanley (Tools).” He’s currently a black belt in karate and practicing his smile.
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<%= image_tag('dilyan.jpg', :class => 'pull-left') %>
							<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Dilyan<br>Kovachev</div>
						</div>
						<div class="col-md-12 helvetica-neue" style="margin-top:10px;">
							“You can’t throw up what you didn’t eat~ Bulgarian Proverb.” Dilyan graduated from Trinity College with a GPA of 4.15, and was the Valedictorian. It was so easy. That sick brilliance allows him to see the matrix of life while some of us can’t even make a decent meringue. Most importantly, he has an enviable accent and he writes all his own jokes. He also has amazing one-liners. Our new favorite: “I’m so excited! I was milk and now I’m froth!”
						</div>
					</div>
				</div>
				<div class="col-md-4">
					<div class="row">
						<div class="col-md-12">
							<%= image_tag('ryan.jpg', :class => 'pull-left') %>
							<div class="pull-left uppercase" style="margin-left:20px; font-size:24px">Ryan<br>Barber</div>
						</div>
						<div class="col-md-12 helvetica-neue" style="margin-top:10px;">
							Ryan is an avid kite flyer and will be bringing all 603 of his kites to the wedding. He’s also a rad photographer. That song, Titanium, was written about Ryan. Some of his bones are literally titanium. He’s so hardcore. He lived in the cupboard under the stairs at Dan’s house when the two were young. Contrary to the story made popular by one, Harry Potter, Ryan is not a wizard and life didn’t turn out so well for him. He became a librarian and lives in Kentucky.
						</div>
					</div>
				</div>
			</div>
		
		</div>
		
	</div>

</div>